<div class="container py-2">
    <form id="formCreateNews" action="/admin/news/create-news" method="POST" enctype="multipart/form-data">
        <div class="row mt-3">
            <div class="col-lg-3">
                <label for="title">Title</label>
            </div>
            <div class="col-lg-9">
                <input class="form-control" type="text" name="title" id="title" placeholder="News title">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-3">
                <label for="shotrdesc">Short Description</label>
            </div>
            <div class="col-lg-9">
                <input type="text" name="shortdesc" id="shortdesc" placeholder="Short description" class="form-control">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-3">
                <label for="body">Body</label>
            </div>
            <div class="col-lg-9">
                <textarea rows="6" class="form-control" name="body" id="body" placeholder="News body"></textarea>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-3">
                <label for="photo">Photo</label>
            </div>
            <div class="col-lg-9">
                <input type="file" name="photo" id="photo" class="form-control">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-3">
                <label for="author">Author</label>
            </div>
            <div class="col-lg-9">
                <input placeholder="Author" type="text" name="author" id="author" class="form-control">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-3">
                <label for="tags">Tags</label>
            </div>
            <div class="col-lg-9">
                <input type="text" name="tags" id="tags" class="form-control" placeholder="Tags">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-9">
                <button class="button primary">Publish</button>
            </div>
        </div>
    </form>
</div>