<form id="formCreateApi">
    <div class="row">
        <div class="column is-one-third">
            <div class="card">
                <div class="card-content">
                    <div class="column">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" class="input">
                    </div>
                    <div class="column">
                        <label for="fullname">Full Name</label>
                        <input type="text" name="fullname" id="fullname" class="input">
                    </div>
                    <div class="column">
                        <label for="organization">Organization</label>
                        <input type="text" name="organization" id="organization" class="input">
                    </div>
                    <div class="column">
                        <button type="button" onclick="registerApi()" class="button is-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>